<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Lemon Hall</string>
	<key>Builder Version</key>
	<string>9537.71</string>
	<key>CFBundleDisplayName</key>
	<string>douban-clear</string>
	<key>CFBundleIdentifier</key>
	<string>com.lsl.douban</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>main.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery.min.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://www.douban.com/</string>
		</array>
	</dict>
	<key>Description</key>
	<string>清洁豆瓣主页的safari扩展</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.douban.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
